.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: var(--layout-padding);
  color: var(--secondary);
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // border-bottom: 1px solid var(--white);
}

// CALL
.call {
  display: flex;
  align-items: center;
}
.call-icon {
  padding: 12px;
  border-radius: 50%;
  box-sizing: content-box;
  background-color: var(--light-background);
}
.call-number {
  text-transform: uppercase;
  margin-left: 15px;
  span {
    font-size: 2rem;

    &:first-child {
      font-size: 1.2rem;
      margin-bottom: 2px;
    }
  }
}

// NAV
.nav {
  display: flex;
  align-items: center;
}
.nav-item {
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: bold;
}
.image {
  width: 50px;
}

// CART
.cart {
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.cart-icon {
}
.cart-counter {
  position: absolute;
  display: block;
  top: -15px;
  right: -12px;
  width: 24px;
  height: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--secondary);
  background-color: var(--dark-background);
}


// REPSONSIVE
@media screen and (max-width: 1024px) {

  .call-number {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }
  .nav-logo {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  .nav-item {
    padding: 10px;
  }
  .cart-counter {
    top: -12px;
    font-size: 1.3rem;
    width: 20px;
    height: 20px;
  }
  .cart-icon,
  .call-icon {
    width: 20px;
    height: 20px;
  }
  .call-icon {
    padding: 8px;
  }
} 