// payment
.payment {
  min-width: 300px;
  height: fit-content;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--dark-background);
}
.payment-title {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.payment-table {
  width: 100%;
  display: flex;
  text-align: justify;
  justify-content: space-between;
  th,
  td {
    display: block;
    padding: 15px 0;
  }
  th {
  }
  td {
  }
}
.payment-infor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.checkout {
  margin-top: 20px;
  width: 100%;
}

// RESPONSIVE

@media screen and (max-width: 1200px) {
  .payment {

  }
}
@media screen and (max-width: 625px) {
  .payment {
    width: 100%;
    margin: auto;
    min-width: unset;
  }

}
