.wrapper {
  gap: 20px;
  display: flex;
  padding: var(--item-padding);
}
.infor {
  width: 100%;
}
.infor-image {
  display: flex;
  justify-content: center;
}
.image {
  max-width: 200px;
}
.infor-name {
  font-weight: bold;
  color: var(--secondary);
  font-size: 1.6rem;
}
.table {
  width: 100%;
  text-align: center;

  th,
  td {
    border: 1px solid var(--dark-background);
  }
  th {
    padding: 15px;
  }
  td {
    padding: 20px;
  }
}
.list {
}
.item {
}

// RESPONSIVE

@media screen and (max-width: 1200px) {
  .wrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .table {
    td {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 625px) {
  .image {
    max-width: unset;
  }
  .table {
    border: none;

    thead {
      display: none;
    }
    tbody,
    tr,
    td {
      padding: 5px;
      display: block;
      border: none;
    }
  }
}
